#root {
    color: white;
    font-family: "Roboto";
    background: #3d739e;
    transition: background-color 3s ease;
    overflow: hidden;
}

#root.clear-day {
    background: #c17d00;
}

#root.clear-night {
    background: #312248;
}

#root.rain {
    background: #3d739e;
}

#root.rain-night {
    background: #223748;
}

#root.cloudy {
    background: #8a8d90;
}

#root.cloudy-night {
    background: #444648;
}

.top {
    background: rgba(31, 50, 66, 0.2);
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.15);
    padding: 2ex 0;
}

.Clock {
    font-size: 150%;
    display: flex;
    justify-content: space-around;
}

.weather {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    margin: 0 3ex;
    height: 85vh;

    > div {
        padding: 2ex 0;
    }

    .weather-summary {
        font-size: 180%;
    }

    .middle-row {
        display: flex;
        justify-content: center;
        align-items: center;

        .weather-icon {
            width: 35%;
            margin: 0 3ex;
        }

        .current-temp {
            // color: #0288d1;
            font-size: 3.5rem;
        }

        .min-max-temp {
            font-size: 1.5rem;
        }

        .chance-text {
            font-size: 1.5rem;
        }

        .chance-percentage {
            // color: #0288d1;
            font-size: 3rem;
        }
    }

    .hourly-timeline {

        > div {
            display: inline-block;
            font-size: 95%;
        }

        > div {
            &:first-child {
                border-radius: 7px 0px 0px 7px;
            }
            &:last-child {
                border-radius: 0px 7px 7px 0px;
            }
        }

        .hourly-time {
            padding-top: 0.5ex;
        }

        .hourly-icon {
            padding: 1ex 0;
            width: 4em;
        }

        .clear-day {
            // background: #ffb300;
        }

        .clear-night,
        .partly-cloudy-night {
            // background: #0d47a1;
            color: white;
        }

        .partly-cloudy-day {
            // background: #ffb300;
        }

        .rain,
        .sleet {
            // background: #0288d1;
            color: white;
        }

        .snow {
            // background: #90a4ae;
        }

        .fog {
            // background: #757575;
            color: white;
        }

        .cloudy,
        .wind {
            // background: #9e9e9e;
        }

        .hourly-temp {
            padding-bottom: 0.5ex;
        }
    }

}
