body {
    color: white;
    font-family: "Roboto";
    background: url("images/night.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}


.top {
    background: rgba(55, 139, 191, 0.29);
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.12);
    padding: 2ex 0;
}

.Clock {
    font-size: 150%;
    display: flex;
    justify-content: space-around;
}

.middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    margin: 0 3ex;

    .weather-summary {
        margin: 1ex 0;
        font-size: 180%;
    }

    .middle-row {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 5ex;

        .weather-icon {
            width: 35%;
            margin: 0 3ex;
        }

        .current-temp {
            color: #0288d1;
            font-size: 3.5rem;
        }

        .min-max-temp {
            font-size: 1.5rem;
        }

        .chance-text {
            font-size: 1.5rem;
        }

        .chance-percentage {
            color: #0288d1;
            font-size: 3rem;
        }
    }

}

.hourly-timeline {
    position: fixed;
    bottom: 2ex;
    left: 0;
    right: 0;

    > div {
        display: inline-block;
        font-size: 95%;
    }

    > div {
        &:first-child {
            border-radius: 7px 0px 0px 7px;
        }
        &:last-child {
            border-radius: 0px 7px 7px 0px;
        }
    }

    .hourly-time {
        padding-top: 0.5ex;
    }

    .hourly-icon {
        padding: 1ex 0;
        width: 4em;
    }

    .clear-day {
        background: #ffb300;
    }

    .clear-night,
    .partly-cloudy-night {
        background: #0d47a1;
        color: white;
    }

    .partly-cloudy-day {
        background: #ffb300;
    }

    .rain,
    .sleet {
        background: #0288d1;
        color: white;
    }

    .snow {
        background: #90a4ae;
    }

    .fog {
        background: #757575;
        color: white;
    }

    .cloudy,
    .wind {
        background: #9e9e9e;
    }

    .hourly-temp {
        padding-bottom: 0.5ex;
    }
}
